<div class="w-full">

    <div class="bg-gray-950 text-white w-full h-1/2 shadow-lg p-6">
        <div class="flex justify-around">

            <div *ngFor="let item of category[selectedSection].sections" class="flex flex-col">
                <h1 class="text center">{{item.name}}</h1>
                
                <button mat-button *ngFor="let section of item.items" style="color: white;">{{section.name}}</button>
            </div>

            <div class="hidden lg:block">
                <div class="mb-5">
                    <img src="assets/images/slider/2.jpg" class="w-[19rem] h-[20rem] object-cover object-top rounded" alt="">
                </div>
                <p class="text-gray-600">New Arrival</p>
            </div>

            <div class="hidden lg:block">
                <div class="mb-5">
                    <img src="assets/images/slider/2.jpg" class="w-[19rem] h-[20rem] object-cover object-top rounded" alt="">
                </div>
                <p class="text-gray-600">New Arrival</p>
            </div>
            
        </div>
    </div>
</div>